# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# PyTorch / YOLO
*.pt
runs/
results/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
